html, body, div, h1, p{
    height: 100%;
    margin: 0;
    padding: 0;
}
h1, p{
    text-align: center;
    line-height: 100%;
}
.area{
    height: 100%;
    width: 100%;
}
.header{
    height: 100px;
}
.main{
    height: calc(100% - (100px + 200px));
}
.footer{
    height: 200px;
}